header{
  width: 100%;
  box-shadow: 2px 0 10px 0 rgba(0,0,0,0.5);
  background: #FFF;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

header .header-wrapper{
  display: flex;
  width: 100%;
  height: 66px;
  padding: 0 11px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin:auto;
}


nav a{
  color:#000;
}

nav a:hover{
  color:#579ad4;
}


nav>ul>li>a{
  position: relative;
}

nav>form>input{
  width:100%;
  margin:0   !important;
  padding:5px 11px;
  box-sizing:border-box;
}

nav form{
  width: 100%;
  box-sizing: border-box;
  max-width: 420px;
}

header .logo{
  height:32px;
  width:auto;
}

.my-page{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding:11px;
  margin-top:44px;
  height:120px;
  justify-content: center;
}

.my-page img{
  height:60%;
}

.my-page p{
  margin:0;
  text-align: center;
  white-space: nowrap;
}


@media (max-width:720px) {

  nav{
    position: absolute;
    display: block;
    height:calc(100vh - 66px);
    width:100%;
    max-width: 320px;
    top:66px;
    right:0;
    background:#FFF;
    box-sizing: border-box;
    transform: translateX(100%) translateZ(0);
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.2);
    overflow: auto;
  }

  nav a{
    margin:0;
  }

  nav form, nav li ul li a, nav a{
    padding:11px;
    box-sizing: border-box;
    display:block;
  }

  nav li ul{
    height:0;
    transform: translateZ(0);
    transition: 0.2s ease-in-out height;
    overflow:hidden;
  }

  nav>ul>li>a::after{
    content:"";
    display: block;
    position: absolute;
    width:15px;
    height:15px;
    right:0;
    top:50%;
    transform: translate(0,-50%);
    margin-right: 11px;
    background:url("../img/arrow.svg");
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav>ul>li.expand > a::after{
  transform:translate(0,-50%) rotate(180deg);
  }

  nav>ul{
    border-top:1px solid #CCC;
  }

  nav>ul>li{
    border-bottom:1px solid #CCC;
  }

  nav li ul li{
    background:#f2f2f2;
  }

  nav li ul li:hover,nav a:hover{
    background:#e2e2e2;
  }

  nav form{
    width:100%;
  }

  nav.clicked{
    transform: translateX(0) translateZ(0);
  }

  #hamburgerBtn{
    height:11px;
    width:25px;
    box-sizing: border-box;
    background:none;
    border:none;
    position: relative;
    cursor: pointer;
  }

  #hamburgerBtn span{
    display: block;
    position: absolute;
    border-radius: 3px;
    width: 100%;
    height:2px;
    background: #000;
    left:0;
    transition: 0.2s ease-in-out top, 0.2s ease-in-out transform;
  }

  #hamburgerBtn span:nth-child(1){top:0;}

  #hamburgerBtn span:nth-child(2){top:100%}

  #hamburgerBtn.clicked span{
    top:50%;
  }

  #hamburgerBtn.clicked span:nth-child(1){
    transform: rotate(225deg);
  }

  #hamburgerBtn.clicked span:nth-child(2){
    transform: rotate(135deg);
  }

}

@media (min-width:720px) {
  header{
    height:66px;
    transform:translateZ(0);
    transition: height 0.2s ease-in-out;
    overflow:hidden;
  }

  #hamburgerBtn{
    display: none;
  }

  nav{
    display:flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
  }

  nav > ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav > ul > li{
    height:100%;
    margin:0 11px;
  }

  nav > ul > li > a{
    height:100%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }

  nav > ul > li > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position:absolute;
    width: 100%;
    max-width: 1280px;
    left: 50%;
    height:200px;
    opacity: 0;
    visibility: hidden;
    animation: menu-invisible 0.2s ease-in-out;
    animation-iteration-count: 1;
  }

  nav > ul > li.expand > ul{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
    animation: menu-visible 0.2s ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes menu-invisible {
    0%{
      transform: translateX(-50%);
      opacity: 1;
      visibility: visible;
    }

    100%{
      opacity:0;
      visibility: hidden;
      transform: translateX(-48%);
    }
  }


  @keyframes menu-visible {
    0%{
      opacity: 0;
      transform: translateX(-48%);
    }

    100%{
      opacity:1;
      transform: translateX(-50%);
    }
  }




  nav > ul > li.expand > a{
    color:#579ad4;
  }

  nav > ul > li > a::after{
    content:"";
    background: #579ad4;;
    width:0;
    height:3px;
    position: absolute;
    bottom:0;
    left:50%;
    transition: width 0.2s ease-in-out,left 0.2s ease-in-out;
  }

  nav > ul > li.expand > a::after{
    width:100%;
    left:0%;
  }

  nav > ul > li > ul > li{
    padding:11px;
    box-sizing: border-box;
    display: block;
    width: calc(100%/4);
  }


  nav > ul > li > ul > li{
    text-decoration: underline;
  }

  .my-page{
    height: 100%;
    margin-top:0;
    flex-direction: row-reverse;
    align-items:center;
  }

  .my-page p{
    padding-right:11px;
  }

  nav form{
    padding: 0 22px;
  }

}


.menu-overlay{
  width:100%;
  height:100vh;
  z-index: 5;
  top:0;
  left:0;
  position: fixed;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  visibility: 0;
}


.menu-overlay.visible{
  visibility: visible;
  opacity:1;
  animation: overlay-visible 0.2s ease-in-out;
  animation-iteration-count: 1;
}

.menu-overlay.invisible{
  opacity: 0;
  visibility: hidden;
  animation: overlay-invisible 0.2s ease-in-out;
  animation-iteration-count: 1;
}


@keyframes overlay-invisible {
  0%{
    opacity: 1;
    visibility: visible;
  }

  100%{
    opacity:0;
    visibility: hidden;
  }
}


@keyframes overlay-visible {
  0%{
    opacity: 0;
  }

  100%{
    opacity:1;
  }
}
