
.hero-container{
  min-height: 320px;
  background:#222;
  margin-top:66px;
  height: 60vh;
  min-height: 420px;
  position:relative;
  overflow: hidden;
}

.hero-container > button{
  position:absolute;
  top:50%;
  transform: translate(0,-50%);
  width:50px;
  height:50px;
  text-overflow:clip;
  cursor:pointer;
  box-sizing: border-box;
  z-index: 2;
  border:none;
  background: none;
  opacity:0.6;
  transition: 0.2s ease-in-out opacity;
}


.hero-container:hover > button{
  opacity:1;
}

.slideButton{
  margin:11px;
}

.slider-progress{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  opacity:0.6;
  transition: opacity 0.2s ease-in-out;
}

.hero-container:hover .slider-progress{
  opacity:1;
}

.slider-progress button{
  background:#000;
  border: 2px #000 solid;
  border-radius:50%;
  width:16px;
  height:16px;
  margin:0 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out background;
}

.slider-progress button.active{
  background:#FFF;
}

.slideButton span{
  display: block;
  position: absolute;
  width: 50%;
  height:5px;
  border-radius:10px;
  background: #f2f2f2;
  transform-origin:center left;
  transition: 0.2s ease-in-out transform, background 0.2s ease-in-out;
  box-shadow:0 2px 10px 0 rgba(0,0,0,0.3);
}

.slideButton span:first-child{
  transform:rotate(45deg) translateY(-45%);
}

.slideButton span:last-child{
  transform:rotate(-45deg) translateY(45%);
}


.slideButton:hover span:first-child{
  background: #fff;
}

.slideButton:hover span:last-child{
  background: #fff;
}


.slideButton:active span:first-child{
  transform:rotate(40deg) translateY(-45%);
}

.slideButton:active span:last-child{
  transform:rotate(-40deg) translateY(45%);
}

.hero-container > button:nth-child(1){
  left:0;
}

.hero-container > button:nth-child(2){
  right:0;
  transform: rotate(180deg) translate(0,50%);
}

.hero{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease-in-out transform;
}


.hero.previous{
  transform:translateX(-100%) translateZ(0);
}

.hero.current{
  transform:translateX(0%) translateZ(0);
}

.hero.next{
  transform:translateX(100%) translateZ(0);
}

.hero .text-container{
  max-width: 420px;
  padding:22px;
}

.hero .text-container h2{
  font-size:2.5em;
  font-weight: 400;
  text-align: left;
  margin-top:0;
  margin-bottom:11px;
  text-transform: capitalize;
}

.hero .text-container h2 b{
  font-weight: 800;
}

.hero .text-container P{
  font-size:1.2em;
  font-weight: 300;
  text-align: left;
  margin-top:0;
}


.hero .text-container a{
  width:fit-content;
  font-weight:300;
  font-size:1.2em;
  padding:0.5em 1em;
}
