.breadcrumbs{
  margin: 22px 0 11px 11px;
}
.breadcrumbs > li{
  display: inline-block;
}
.breadcrumbs > li > a{
  color: black;
  text-decoration: underline;
}
.breadcrumbs > li::after{
  content: ">";
}
.breadcrumbs > li:last-child::after{
  content: " ";
}
.text-container{
  padding:  0 33px;
}
.eventtitle{
  cursor: pointer;
  background: white;
  padding: 11px 33px;
  margin-top: 11px;
  display: flex;
  border-bottom: solid 2px #3CA3FF;
  position: relative;
}

.eventtitle p:first-child{
  width:20%;
}

.eventtitle:hover{
  background:#CCC;
}

.eventtitle > p{
  margin: 0;
}
.eventtitle::after{
  content:"";
  display: block;
  position: absolute;
  width:15px;
  height:15px;
  right:0;
  top:50%;
  transform: translate(0,-50%);
  margin-right: 22px;
  background:url("../img/arrow.svg");
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.eventtitle.clicked::after{
  transform:translate(0,-50%) rotate(180deg);
}

.eventconfirmation,
.eventinfo{
  background: #f2f2f2;
  padding: 22px 33px;
}
.eventinfo > p{
}
.eventinfo > h3{
  margin: 0;
}


.eventSlider{
  max-height:0;
  overflow:hidden;
  transition: 0.2s ease-in-out;
}

.eventSlider.clicked{
  max-height:300px;
}
