.breadcrumbs{
  margin: 77px 0 11px 11px;
}
.breadcrumbs > li{
  display: inline-block;
}
.breadcrumbs > li > a{
  color: black;
  text-decoration: underline;
}
.breadcrumbs > li::after{
  content: ">";
}
.breadcrumbs > li:last-child::after{
  content: " ";
}
.text-container{
  padding:  0 33px;
}
.eventtitle{
  background: white;
  padding: 11px 33px;
  margin-top: 11px;
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px #3CA3FF;
}
.eventtitle > p{
  margin: 0;
}
.eventtitle::after{
  content: ">";
}
.eventconfirmation,
.eventinfo{
  background: #f2f2f2;
  padding: 22px 33px;
}
.eventinfo > p{
}
.eventinfo > h3{
  margin: 0;
}
