@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url("css/typography.css");
@import url("css/header.css");
@import url("css/hero.css");
@import url("css/footer.css");
@import url("css/modals.css");
@import url("css/networkevents.css");

*{
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  margin:0;
  padding:0;
}

ul, li {
  list-style: none;
}

body{
  background: #f2f2f2;
  padding:0;
  margin:0;
}

main{
  max-width: 960px;
  margin:auto;
  padding:66px 11px 22px 11px;
}

.post-grid{
  display: flex;
  flex-direction: column;
}

.post-grid li{
  width:100%;
  padding:0 11px;
  box-sizing: border-box;
  margin-bottom: 44px;
}

.post-grid li a{
  color:#579ad4;
}

.post-grid li:hover a{
  color:#497FA0;
}

.post-grid figure{
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  margin: 0;
  background: #CCC;
}

.inputfield, #professions{
  display: block;
  font-size: 1em;
  line-height: 2em;
  padding-left: 11px;
  margin: 0 0 11px 0;
  border: 2px solid white;
  transition: border ease-in-out .2s;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #E0E0E0;
}


@media (min-width:420px) {
  .post-grid{
    flex-direction: row;
  }
}
